* {
  margin: 0;
}
::selection {
  background: #000; /* WebKit/Blink Browsers */
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

input[type="checkbox"] {
  outline: none;
}
input[type="checkbox"]:checked {
  background-color: #000;
  outline: none;
  border: none;
}
